wget
allensdk
vtk
fast-pytorch-kmeans
pandas
requests
BeautifulSoup4
nltk

--extra-index-url https://download.pytorch.org/whl/cu117
torch==1.13.1+cu117 
torchvision==0.14.1+cu117

--find-links=https://data.dgl.ai/wheels/cu117/repo.html
dgl

--find-links=https://data.dgl.ai/wheels/cu117/repo.html
dglgo
